{{#bookmark-list}}
<section>
    <div class="row">
        <div class="small-12 columns">
            {{#each model.categories as |category|}}
                {{single-category category=category}}
            {{/each}}
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="small-12 columns">
            {{#each model.bookmarks as |bookmark|}}
                {{single-bookmark bookmark=bookmark deleteBookmark="deleteBookmark" updateBookmark="updateBookmark" categories=model.categories}}
            {{/each}}
        </div>
    </div>
</section>
{{/bookmark-list}}
{{outlet}}
